.block {
  height: 100%;
  width: 100%;
  background-color: rgb(241,170,166);
  // overflow: scroll;
  .mainInput {
    height: 600px;
    width: 380px;
    background-color: rgb(241,170,166);
    border-radius: 50px;
    float: right;
    position: absolute;
    bottom: 0;
    overflow: auto;
    .newsItem {
      height: 30px;
      background-color: rgb(221,240,237);
      margin: 5px;
      border-radius: 5px;
      overflow-y: scroll;
    }
  }
}
