.detail {
	display: flex;
	justify-content: space-around;
	flex:1;

	// background-color: red;
}

// .heart{
//       height: 200px;
//       width: 200px;
//       background-color: pink;
//       border-radius: 100px;
//     }
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.box1{
  width: 100px;
  height: 170px;
  background-color: pink;
  border-radius: 50px 50px 0px 0;
  transform-origin: 50px 50px;
  transform: rotate(-45deg);
}
.box2{
  width: 100px;
  height: 170px;
  background-color: pink;
  border-radius: 50px 50px 0px 0;
  transform-origin: 50px 50px;
  transform: rotate(45deg);
}